@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    background-color:darkblue;
    box-sizing: border-box;
    user-select:none;
}

.calc-btn{
    font-size:32px;
    color:black;
    background-color:silver;
    width:45px;
    height:45px;
    border:1px solid gray;
    text-align:center;
    cursor: pointer;
    padding-top:3px;
    font-weight: 100;
}

.calc-btn:hover{
    background-color:orange;
    color:white;
}

.calc-btn-operator{
    background-color:orange;
    color:white;
}

.row{
    display: table;
    table-layout: fixed;
    width:187px;
}

.coulumn{
    display:table-cell;
}

#calc-zero{
    width:91.5px;
    border-radius:0 0 0 7px;
}

#calc-clear{
    width:91.5px;
}

#calc-display-val{
    height: 60px;
    color:white;
    border-radius:7px 7px 0 0;
    background-color:black;
    text-align:right;
    border-left:1px solid gray;
    border-right:1px solid gray;
    border-top:1px solid gray;
    font-size:48px;
    overflow:hidden;
    white-space: nowrap;
    padding:12px 12px 6px;
}

#calc-equals{
    border-radius:0 0 7px 0;
}

h1{
    text-align:center;
    font-size:48px;
    font-weight:400;
    color:yellowgreen;
}

#calc-parent{
    margin-left:calc(50% - 93.5px);
}